@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&family=Raleway:wght@500;600;700&family=Rancho&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: -2s linear;
}

:root {
    --green: #219150;
    --black: #10221b;
    --white: #fff;
    --light-bg: #eee;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

:-webkit-scrollbar {
    width: 1rem;
}

:-webkit-scrollbar-track {
    background: var(--white);
}

:-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: var(--border);
    color: var(--black);
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.btn:hover {
    background: var(--black);
    color: var(--white);
}

.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: var(--black);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

i {
    color: var(--green);
}

a {
    margin-left: 2rem;
    font-size: 1.7rem;
    color: var(--black);
}

a:hover {
    color: var(--green);
}

#nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.fa-bars,
.fa-shopping-cart {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: var(--black);
}

.fa-search {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: var(--black);
}

.fa-bars:hover,
.fa-shopping-cart:hover,
.fa-search:hover {
    color: var(--green);
}

#menu-btn {
    display: none;
}

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);
}

.active {
    transform: translateY(0%);
}

#close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: var(--white);
    font-size: 6rem;
}

#close-search:hover {
    color: var(--green);
}

form {
    width: 70rem;
    padding: 0.2rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid var(--white);
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    font-size: 1.7rem;
    color: var(--white);
    text-transform: none;
    background: none;
    padding-right: 2rem;
}

input::placeholder {
    color: #aaa;
}

.search-form label {
    font-size: 3rem;
    cursor: pointer;
    color: var(--white);
}

.search-form label:hover {
    color: var(--green);
}

.heading1 {
    text-align: center;
    margin-top: 10rem;
    font-size: 4rem;
    color: var(--black);
}

.contact {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.col-4 {
    grid-row-start: 1;
    grid-row-end: 4;
}

.icon {
    size: 40px;
}

h3 {
    text-align: center;
}


/*media queries untuk responsive web
*/

@media (max-width:1200px) {
    .header {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width:991px) {
    html {
        font-size: -55%;
    }
    .home .box {
        justify-content: center;
        background-position: right !important;
    }
    .home .second {
        justify-content: center;
        background-position: left !important;
    }
    .content {
        text-align: center;
    }
    .content span {
        font-size: 3rem;
    }
    .content h3 {
        font-size: 4rem;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: -110%;
        background: var(--white);
        z-index: 10000;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
    }
    .active a {
        margin: 1rem 0;
        font-size: 3rem;
    }
    #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }
}

@media (max-width:450px) {
    html {
        font-size: -50%;
    }
    .heading {
        font-size: 3rem;
    }
}